<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Baby activity tracker</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="static/style.css" type="text/css">
        <link rel="shortcut icon" href="#">
	</head>
	<body>
        <h1>Baby Tracker</h1>

		<img src="static/CuteBaby.jpg" alt="Your little bundle of joy">

        <div id="mainSection">
            <div class = "dateSections">
                <h2 id = 'todayDate'></h2>
                <h2 id = 'todayTime'></h2>
                <h3><button type="button" onclick="activity()" id ="manualLog">Log Manual Activity</button></h3>
                <!-- restructure manual section to have calendar input and two clocks and just buttons with id to retreave the data -->
            </div>
            <div id = 'manualInput'>
                <div class="manualSections">
                    <h2>Feeding Times </h2>
                    <form action="/submit" method="POST">
                    <label for="start">Select Date:</label>
                    <input type="date" id="manualCalendar" name="manualCalendar" value=""/>
                    <!-- <form action="/" onsubmit="manualActivities(this.id)" id = "mFood"> -->
                    <span>And Time: </span>
                    <input type="time" id="foodTime" value = "" name="foodTime"> 
                    <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="manualSections">
                    <h2>Sleeping Time </h2>
                    <form action="/submit" method="POST">
                    <!-- <form action="/" onsubmit="manualActivities(this.id)" id = "mSleep"> -->
                        <label for="start">Select Date and Time:</label>
                        <input type="date" id="manualCalendar" name="manualCalendar" value=""/>
                        <label for="sleeping">Start:</label>
                        <input type="Time" id="sTime" value="" name = "sTime">
                        <label for="waking">Finish:</label>
                        <input type="Time" id="fTime" value="" name = "fTime">
                        <button type="submit" >Submit</button>
                    </form>
                </div>
                <div class="manualSections">
                    <h2>Nappy time </h2>
                    <!-- <form action="/submit" onsubmit="manualActivities(this.id)" id = "mNappy"> -->
                    <form action="/submit" method="POST">
                    <label for="start">Select Date, Time and Activity:</label>
                    <input type="date" id="manualCalendar" name="manualCalendar" value=""/>
                    <input type="Time" id="pottyTime" name="pottyTime">    
                    <input type="checkbox" id="no1" name="no1" value="on">
                    <label for="1"> No 1</label><br>
                    <input type="checkbox" id="no2" name="no2" value="on">
                    <label for="2"> No 2</label><br>
                    <button type="submit">Submit</button>
                    </form>

                </div>
            </div>
            <div id = "autoInput">
                <div class="sections">
                    <img src="static/babyEating.jpg" id = "eatingBaby" alt="Food">
                    <h2>Feeding Times </h2>
                    <form action="/submit" method="POST">
                    <button type="submit" id = "food" name = "auto.food">Submit</button>
                    <!-- <button type="button" onclick="activity(this.id)" id = "food">Food Done</button> -->
                    </form>
                </div>
                <div class="sections">
                    <img src="static/sleepingBaby.avif" id = "sleepingBaby" alt="sleeping">
                    <h2>Sleeping Time </h2>
                    <form action="/submit" method="POST" id = sleepTimes>
                    <button type="submit" id = "startNap" name = "auto.startNap">Submit</button>
                    <button type="submit" id = "finishNap" name = "auto.finishNap">Submit</button>
                    <!-- <button type="button" onclick="activity(this.id)" id = "napStart">Starting Nap</button>
                    <button type="button" onclick="activity(this.id)" id = "napFinish">Finishing Nap</button> -->
                    </form>
                </div>
                <div class="sections">
                    <img src="static/nappy.png" id = "nappyB" alt="nappy">
                    <h2>Nappy time </h2>
                    <form action="/submit" method="POST">
                    <button type="submit" id = "number1" name = "auto.number1">No 1 Done</button>
                    <button type="submit" id = "number2" name = "auto.number2">No 2 Done</button>
                    </form>
                </div>
            </div>
        </div>
        <div id = "results">
            <span>{{ check }}</span>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2024-12-09</td>
                        <td>10:00 AM</td>
                        <td>Morning Meeting</td>
                    </tr>
                    <tr>
                        <td>2024-12-09</td>
                        <td>12:30 PM</td>
                        <td>Lunch Break</td>
                    </tr>
                    <tr>
                        <td>2024-12-09</td>
                        <td>3:00 PM</td>
                        <td>Project Review</td>
                    </tr>
                </tbody>
            </table>

        </div>

		<script type="text/javascript" src="static/main.js"></script>
	</body>
</html>
