<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">
    <title>Baby Activity Tracker</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1>Baby Tracker</h1>
    <img src="static/CuteBaby.jpg" alt="Your little bundle of joy">
    <div class="container mt-4">
        <h1>Baby Activity</h1>
        {{ table|safe }}
    </div>
</body>
</html>
